<%- include ../partials/layout.ejs %>
  <div class = "center">
    <h1><%= show.title %></h1>
    <h3><%= show.genre %></h3>
    <em>at <%= show.venue %></em>
    <h4><%= show.url %></h4>
    <%if(formattedStartDate && formattedEndDate) {%>
      <p><%= show.title %> opens on <%= formattedStartDate %> and closes on <%= formattedEndDate %>
      </p>
    <% } %>

    <div>
      <h2>Reviews</h2>
      <a href="<%=show.id%>/reviews/new"><button>Add Review</button></a>
    </div>
    <div>
      <% reviews.forEach(function(review, i) { %>
        <p id="reviews-<%=review.id%>">
          <%=review.content%>
          <%if (user.id === review.user_id) {%>
            <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-show-id='<%= review.show_id %>'>
          <% }%>
          <br />
          <%=formattedDates[i]%>
          <em>by <%= review.name %></em>
          <hr class="show-reviews-delimeter">
        </p>
      <%})%>
    </div>

  </div>

<%- include ../partials/footer.ejs %>
