<%- include ../partials/layout.ejs %>
  <div class = "center">
    <h1><%= show.title %></h1>
    <em class="genre"><%= show.genre %></em>
    <%if(formattedStartDate && formattedEndDate) {%>
      <p><%= show.title %> opens on <%= formattedStartDate %> and closes on <%= formattedEndDate %>
      </p>
    <% } %>
    <h3>See the show at: <a href=<%= show.url %> target="_blank"><%= show.venue %></a></h3>


    <div>
      <h2 class="purple-header">Reviews</h2>
      <a href="<%=show.id%>/reviews/new"><button class="light-purple-button">Add Review</button></a>
    </div>
    <div>
      <% reviews.forEach(function(review, i) { %>
        <p id="reviews-<%=review.id%>">
          <%=review.content%>
          <%if (user.id === review.user_id) {%>
            <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-show-id='<%= review.show_id %>'>
          <% }%>
          <br />
          <%=formattedDates[i]%>
          <em>by <%= review.name %></em>
          <hr class="show-reviews-delimeter">
        </p>
      <%})%>
    </div>

  </div>

<%- include ../partials/footer.ejs %>
