<%- include ./partials/layout.ejs %>
  <div class = "center">
    <h1><%= album.title %></h1>
    <em>by <%= album.artist %></em>

    <div>
      <h2>Reviews</h2>
      <a href="<%=album.id%>/reviews/new"><button>Add Review</button></a>
    </div>

      <%# TODO: fix review.user_id to be the reviewer's name%>

    <div>
      <% reviews.forEach(function(review, i) { %>
        <div>
          <div>
            <h4><%=album.title%></h4>
            <h5><%=formattedDates[i]%></h5>
          </div>
          <p>
            <%=review.content%>
          </p>
            <em>by <%= review.user_id %></em>
        </div>
      <%})%>
    </div>

  </div>

<%- include ./partials/footer.ejs %>
