<%- include ./partials/layout.ejs %>
  <div class = "center">
    <h1><%= album.title %></h1>
    <em>by <%= album.artist %></em>

    <div>
      <h2>Reviews</h2>
      <a href="<%=album.id%>/reviews/new"><button>Add Review</button></a>
    </div>

    <div>
      <% reviews.forEach(function(review, i) { %>
        <div id="reviews-<%=review.id%>">
          <p>
            <%=review.content%>
            <h5><%=formattedDates[i]%></h5>
            <%if (user.id === review.user_id) {%>
                  <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-album-id='<%= review.album_id %>'>
              <% }%>
          </p>
            <em>by <%= review.name %></em>
        </div>
      <%})%>
    </div>

  </div>

<%- include ./partials/footer.ejs %>
