<%- include partials/layout.ejs %>

  <img src="times_square.jpg" class="headerPic" title='Times Square, New York - Photo: Curimedia | P H O T O G R A P H Y via Flickr, used under Creative Commons License (By 2.0)'/>

  <div class="section group">
  	<div class="col span_1_of_3">
      <div class="left-column">
        <h1>Shows</h1>
        <div>
          <% shows.forEach(function(show) { %>
            <div>
              <h5><a href="/shows/<%= show.id %>"><%= show.title %></a> - <%= show.genre %></h5>
            </div>
          <% }) %>
        </div>
      </div>
  	</div>
    <div class="col span_2_of_3">
      <h1>Recent Reviews</h1>
      <div>
        <% reviews.forEach(function(review, i) { %>
          <div>
            <div>
              <h4><%=review.title%></h4>
              <h5><%=formattedDates[i]%></h5>
            </div>
            <p>
              <%=review.content%>
            </p>
              <em>by <%= review.name %></em>
          </div>
        <%})%>
      </div>
  	</div>
  </div>

  <h3 class="gh-issues-link">This app is a work-in-progress. To see what I'm going to add next, check out the github issues. <a href="https://github.com/danisyellis/bay-area-theater-reviews/issues">check out the github issues.</a></h3>

  <p class="caption-text">Photo: Times Square, New York -  <a href="https://www.flickr.com/photos/curimedia/17255848402" target="blank">Curimedia | P H O T O G R A P H Y via Flickr</a>, used under Creative Commons License (By 2.0)</p>

<%- include partials/footer.ejs %>
