<%- include ../partials/layout.ejs %>

<div class="left-column">
  <h1><%-user.name%></h1>
  <p>Email: <%-user.email%></p>
  <p>Member since: <%-user.date_joined%></p>
  <button class="edit-profile-button">Edit Profile</button>
</div>

<div class="edit-profile-modal">
  <div class="edit-profile-modal-content">
    <span class="close-modal"> &times; </span>
    <form action="/users/<%=user.id%>?_method=PUT", method="POST">
      <div>
        <p>
          Name:
          <%if(user.name === null) {%>
            <input type="text" name="name" />
          <% } else { %>
            <input type="text" name="name" value = <%-user.name%>>
          <% } %>
        </p>
      </div>
      <div>
        <p>
          Email:
          <%if(user.email === null) {%>
            <input type="text" name="email" />
          <% } else { %>
            <input type="text" name="email" value = <%-user.email%>>
          <% } %>
        </p>
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="center profile-reviews">
  <h1 >Your Reviews</h1>
  <%reviews.forEach(function(review, i) {%>
    <p id="reviews-<%=review.id%>">
      <p class="show-title">
        <%-review.title%>
      </p>
      <p>
        <%-review.content%>
        <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-show-id='<%= review.show_id %>'>
      </p>
      <p>
      Written on <%-formattedDates[i]%>
      </p>
      <hr class="show-reviews-delimeter">
    </p>
  <%})%>
</div>

  <script type="text/javascript" src="/scripts/users.js"></script>

<%- include ../partials/footer.ejs %>
