<%- include ../partials/layout.ejs %>

<div class="left-column">
  <h1><%-user.name%></h1>
  <p><%-user.email%></p>
  <p><%-user.date_joined%></p>
</div>

<div>
  <h1 >Reviews</h1>
  <%reviews.forEach(function(review, i) {%>
    <p id="reviews-<%=review.id%>">
      <%-review.title%>
      <%-formattedDates[i]%>
      <%-review.content%>
      <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-album-id='<%= review.album_id %>'>
    </p>
  <%})%>
</div>

<%- include ../partials/footer.ejs %>
