<%- include ../partials/layout.ejs %>

<div class="left-column">
  <h1><%-user.name%></h1>
  <p>Email: <%-user.email%></p>
  <p>Member since: <%-user.date_joined%></p>
</div>

<div class="left-column profile-reviews">
  <h1 >Your Reviews</h1>
  <%reviews.forEach(function(review, i) {%>
    <p id="reviews-<%=review.id%>">
      <p class="show-title">
        <%-review.title%>
      </p>
      <p>
        <%-review.content%>
        <img src="/trashCan.svg" height="20" class="delete" data-review-id='<%= review.id %>' data-album-id='<%= review.album_id %>'>
      </p>
      <p>
      Written on <%-formattedDates[i]%>
      </p>
    </p>
  <%})%>
</div>

<%- include ../partials/footer.ejs %>
